.gitattributes text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.po text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.patch text eol=lf
*.seed text eol=lf
README.md text eol=lf
files/etc/uci-defaults/* text eol=lf
files/etc/hotplug.d/**/* text eol=lf
packages/**/root/etc/config/* text eol=lf
packages/**/root/etc/uci-defaults/* text eol=lf
packages/**/root/etc/init.d/* text eol=lf
packages/**/root/usr/sbin/* text eol=lf
